@using Newtonsoft.Json;
@using OnlineCalibrator.Service
@using OnlineCalibrator.Shared;
@using System
@using System.Text
@using System.IO
@using System.Text.RegularExpressions
@using Microsoft.Extensions.Logging
@using OnlineCalibrator.SharedPages.ViewModel
@using SkiaSharp;
@using Stochastique.Distributions
@using Stochastique.Enums;
@using Stochastique;
@using LiveChartsCore.SkiaSharpView.Painting;
@using Stochastique.Test
@using pax.BlazorChartJs
@using OnlineCalibrator.Shared.MachineLearning

@inject NavigationManager NavManager
@inject IJSRuntime js
@inject DonneeContainer donneeContainer
@inherits BasePage
@page "/AnalyseDistribution"
@if (DonneesImportes!=null)
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light mynavbar" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Import">Import des données</a></li>
            @if (DonneesImportes != null)
            {
                <li class="breadcrumb-item"><a href="/CalibrateDistribution">Calibration des données (@DonneesImportes.NomData)</a></li>
            }
            else
            {
                <li class="breadcrumb-item"><a href="/CalibrateDistribution">Calibration des données </a></li>
            }
            <li class="breadcrumb-item active">Identification de la loi</li>
        </ol>
    </nav>
    <ComposantAnalyseDistribution Donnees="@DonneesImportes.ActualData" DonneesImportes="@DonneesImportes" IsVisible="true"/>
}


@code {
    private DonneesImportes? DonneesImportes;
    protected override async void OnInitialized()
    {
        if (donneeContainer.Value != null)
        {
            DonneesImportes = donneeContainer.Value;
        }
        else
        {
            var data =  await GetData("donneesImportes");
            DonneesImportes = DonneesImportes.FromMsgPack(data);
        }
    }

}
