@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenue dans la calibration en ligne de lois de probabilités</h1>

<div>Grace au blazor l'ensemble des données envoyés dans cette application reste sur votre machine et n'est pas envoyé sur un serveur distant. </div>

<div class="alert alert-info">Vous pouvez trouver le code source de l'application dans le reporsitory git suivant</div>

